#uploadform
  %h3 Upload additional layer
  = form_for(@layer, :html => { :multipart => true }, :remote => true) do |f|
    - if @layer.errors.any?
      #errorExplanation
        %h2= "#{pluralize(@layer.errors.count, 'error')} prohibited this user from being saved:"
        %ul
        - @layer.errors.full_messages.each do |msg|
          %li= msg
  
    .field
      = f.label :name
      = f.text_field :name
    .field
      = f.label "Data file"
      = f.file_field :raw_data

    // .actions
    %button{:type => 'submit'} Create layer

:javascript
  $()