!!! 5
%html
  %head
    %title
      = yield(:title) || APPLICATION_TITLE
    = csrf_meta_tag
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'map.css',    :media => 'screen, projection'
    = stylesheet_link_tag 'print.css',  :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css',   :media => 'screen, projection'
      
    = javascript_include_tag 'jquery.min',      :cache => true
    = javascript_include_tag 'application',  :cache => true
    = javascript_include_tag 'openlayers/OpenLayers'
    = javascript_include_tag 'proj4js-combined'
    %link{ :href=>"/javascripts/openlayers/theme/default/style.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}

    / install uniform for nicer forms
    = javascript_include_tag "highcharts"
    = javascript_include_tag 'jquery.uniform.min'
    = stylesheet_link_tag '/javascripts/css/uniform.default.css'

    :javascript
      //$(function(){
      //  $("input, text, submit, textarea, select, button").uniform();        
      //});    
    
    = yield(:head)
  %body.bp
    #header
      #header_content
        %h2 
          Rapid Impact Assessment Tool

    = yield

    #footer.bp
      #footer_content
        #footer_left
          %ul
            %li 
              %a{:href => "http://www.aifdr.org/public"} AIFDR
            %li 
              %a{:href => "/static/about"} About
            %li 
              %a{:href => "/static/contact"} Contact
        #footer_right
          %ul
            %li 
              %a{:href => "/static/docs"} Documentation
            %li 
              %a{:href => "/static/api"} About
            %li 
              %a{:href => "/static/contribute"} Contribute
          
